<div
  (click)="clickedMessage.emit(message.id)"
  class="w-full p-3 text-stone-300 bg-stone-700/50 hover:bg-stone-700/40 h-56 relative cursor-pointer rounded-sm flex flex-col"
>
  <div class="title text-lg">
    {{ message.title }}
  </div>
  <div
    class="body mt-4 text-stone-300/95 text-sm tracking-wide line-clamp-6 flex-grow"
    [title]="message.body"
  >
    {{ message.body }}
  </div>

  <div class="mt-4 text-stone-300/95 text-xs flex justify-end">
    {{ message.dateCreated | date : "short" }}
  </div>

  <button
    class="absolute top-3 right-3 bg-stone-300/80 hover:bg-stone-300/90 rounded-sm text-stone-800 px-2 p-1 text-xs"
    (click)="$event.stopImmediatePropagation(); deleteMessage.emit(message.id)"
  >
    X
  </button>
</div>
